<div class="product-list-wrapper">
    <h2>All Product List</h2>
    <div class="row">
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
            <div class="product-item">
                <img src="{{item.url}}">
                <div class="product-details">
                    <h6 class="name-head">{{item.name}}</h6>
                    <div class="product-price">
                        <h6>Color:{{item.color}}</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <td><button type="button" class="btn btn-primary" [routerLink]="['/productdetails/'+item.id]">Details</button></td>
                    <a href="#"> Add to cart</a>

                </div>
            </div>
        </div>
    </div>
</div>
